@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

*::-webkit-scrollbar {
  width: 0;
}
html {
  text-align: center;
}
.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 12px 50px;
  border-radius: 30px;
  border: none;
  transition: 1s;
}

.primary-button:hover {
  background: linear-gradient(
    270deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav .logo-container {
  max-width: 150px;
  margin: 15px;
}
nav .logo-container .logo {
  width: 100%;
}
nav .logo-container .logo-name {
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}
nav .nav-button {
  color: rgb(254, 48, 114);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  height: 50px;
}

nav .nav-button:disabled {
  background-color: rgb(180, 180, 180);
  color: rgb(149, 26, 65);
}
/* Homepage */

.home-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.homepage {
  margin-top: 40px;
}

.primary-title {
  font-size: 90px;
  color: rgb(255, 255, 255);
  margin: 10px auto;
}

/*Auth Modal*/

.authModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  max-width: 400px;
  background: white;
  padding: 20px;
  margin: auto;
  height: 400px;
  border-radius: 15px;
}

.authModal .close-icon {
  border: 2px solid black;
  border-radius: 40%;
  float: right;
  padding: 5px;
  cursor: pointer;
}

.authModal form {
  display: flex;
  flex-direction: column;
}

.authModal input[type="password"],
.authModal input[type="email"] {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
}

.secondary-button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 4px;
}

.secondary-button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}

/* Onboarding */

.onboarding {
  border-top: 2px solid rgb(154, 154, 154);
  padding-top: 30px;
}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form label {
  font-weight: 700;
  font-style: italic;
  margin: 10px;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}
.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: 2px solid rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.5s;
  margin-right: 10px;
}

.onboarding form .multiple-input-container input[type="radio"] {
  display: none;
}

.onboarding form input[type="radio"]:checked + label {
  border: 2px solid rgb(221, 39, 22);
}
.onboarding form input[type="submit"]:hover {
  background-color: rgb(235, 235, 235);
}

.onboarding form input[type="submit"]:active {
  background-color: rgb(226, 115, 155);
}

.onboarding form input[type="number"] {
  width: 10%;
}

.onboarding form .photo-container img {
  width: 100%;
}

/* Tinder Card */

.dashboard {
  display: flex;
  justify-content: space-between;
  transition: 0.5s all;
}

.dark {
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  transition: 0.5s all;
}

.dashboard .swiper-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dashboard .boxchat-container {
  display: flex;
  width: 68%;
  flex-direction: column;
  height: 100vh;
}
.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 650px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.cardContent {
  width: 100%;
  height: 100%;
}
.swipe:last-of-type {
}
.card h3 {
  margin-top: 0;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/* Chat Container */

.chat-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
  height: 100vh;
}

.chat-container .chat-header {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 0 0 30px 30px;
  text-align: center;
}
.chat-container .chat-header .profile,
.chat-container .chat-header .log-out-icon {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.chat-container .chat-header .profile .img-container {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}
.chat-container .option-container {
  display: flex;
  justify-content: space-around;
}
.chat-container .option {
  border: none;
  background-color: transparent;
  border-bottom: 4px solid rgb(143, 58, 247);
  font-size: 20px;
  padding: 10px;
}

.chat-container .option:disabled {
  border-bottom: 4px solid rgb(180, 180, 180);
}

/* Matches Displat */
.matches-display {
  border-radius: 30px 30px 0 0;
}
.matches-display .single_user_display {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  border-bottom: 2px solid rgb(195, 195, 195);
  padding: 5px;
}

.matches-display .single_user_display .img-container {
  max-width: 50px;
}
.matches-display .single_user_display .img-container img {
  width: 100%;
  border-radius: 10px;
}
.matches-display .single_user_display .username-and-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

/* Chat Display */

.chat-display {
  height: 100vh;
  overflow: auto;
  position: relative;
}

.chat-display .chat-header {
  position: fixed;
  top: 0px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  max-width: 974px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.chat-display .right {
  margin: 10px;
  text-align: right;
}
.chat-display .left {
  margin: 10px;
  text-align: left;
}
.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(121, 119, 119);
  border-radius: 10px;
}

.chat-input textarea {
  border-radius: 10px;
  padding: 10px;
  border: 3px solid rgb(143, 58, 247);
}

.chat-input button {
  border: 3px solid rgb(143, 58, 247);
}

.myCallContainer {
  position: fixed;
  top: 0px;
  transform: translateX(200px);
  height: 500px;
  width: 500px;
}
